/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.table-container {
    padding: 16px;
  }
  
  .form-container {
    padding: 16px;
  }
  
  .mat-form-field {
    display: block;
    margin-bottom: 16px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .error-message {
    color: red;
    margin-top: 16px;
  }
  